/lib/
/dist/
/standalone-bundle/
/test/
/build/
custom-elements.json
components.iml
storybook-static/

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*storybook.log
genspectrum-dashboard-components*.tgz

**/node_modules