on:
  push:
    branches:
      - "main"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - id: build-publish
        uses: bitovi/github-actions-storybook-to-github-pages@v1.0.4
        with:
          path: components/storybook-static
          install_command: cd components && npm ci&& cd ..
          build_command: cd components && npm run generate-manifest && npm run build-storybook && cd ..
